$primary-color: #79d73f;
$secondary-color: #b3e140;
$tertiary-color: #3687ff;
$clear-color: #fff;
$clear-secondary-color: #f2f2f2;
$dark-color: #000000;
$danger-color: #d73f3f;
$alert-color: #dac938;

$global-padding: 4rem;

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');
$primary-font: 'Exo 2', sans-serif;
$secondary-font: 'Oswald', sans-serif;