.hero {
  overflow: hidden;
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 100px;
  .background {
    width: 100%;
    height: 130%;
    background-color: $secondary-color;
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 60% 100%, 40% 65%);
    position: absolute;
    inset: 0;
    z-index: 0;
  }
  .inner-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    .popup {
      padding: .5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: rgba($color: $clear-color, $alpha: .5);
      .shoes-info {
        background-color: $primary-color;
        font-family: $secondary-font;
        padding: 0rem .5rem;
        font-size: 4rem;
        font-weight: 700;
        text-transform: uppercase;
        .brand-logo {
          img {
            width: 90px;
          }
        }
        .model {
          word-break: keep-all;
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
      }
    }
  }

  @media screen and (max-width: 1170px) {
    clip-path: unset;
    padding-block: 2rem;
    .inner-hero {
      width: 100vw;
      justify-content: center;
      img {
        height: 80vw;
        transform: rotate(90deg);
      }
    }
  }

  @media screen and (max-width: 720px) {
    padding-top: 100px;
    height: 50vh;
    box-shadow: 0 50px 25px $secondary-color;
    .inner-hero {
      img {
        height: 100vw;
      }
    }
  }
}
