.popup {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  background-color: rgba($color: $clear-color, $alpha: 0.5);
  .shoes-info {
    background-color: $primary-color;
    font-family: $secondary-font;
    padding: 0rem 0.5rem;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    .brand-logo {
      width: 90px;
      position: absolute;
      bottom: 1rem;
      left: 2rem;
    }
    .model {
      word-break: keep-all;
      line-height: 80px;
      text-align: right;
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    .disclaimer {
      font-size: 2rem;
      font-family: $secondary-font;
      text-transform: uppercase;
      text-align: right;
      width: 60%;
    }

  }
}
